@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Police Inspectorate</h1>
    <h3 class="display-5">Region: DOLJ</h3>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            This is the official website for the Police Inspectorate Dolj. <br />
            Use the navigation menu in order to access different pages on the website. <br />
            Use the button below in order to contact us.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a class="btn btn-primary btn-lg px-4 gap-3" href="mailto:grig.mazureanu@gmail.com">Contact</a>
        </div>
    </div>
</div>

